@tailwind base;
@tailwind components;
@tailwind utilities;

.moonCanvas {
  height: 40svh;
}
.moonCanvas:hover {
  cursor: pointer;
}
.myHeading {
  font-family: "Alike", serif;
  font-family: "Luxurious Roman", serif;
}
