@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
.dagger {
  background: rgb(131, 58, 180);
  background: radial-gradient(
    circle,
    rgba(131, 58, 180, 1) 10%,
    rgba(255, 7, 1, 1) 60%,
    rgba(252, 176, 69, 1) 100%
  );
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
